/*Raphael Gonzalez*/
.App {
  text-align: center;
  background-color: #555;
  background-image: url(./logo.svg);
  background-position: center;
  background-size: 170%;
  background-repeat: no-repeat;
  background-attachment: sticky;
  min-width: 400px;
  min-height: 400px;
  max-width: none;
  max-height: none;
  border-radius: 5px;
}
h1, h2, h3, h4, h5, h6 {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: rgba(255, 255, 255, 0.5);
  font-size: 21px;
  padding-top: 0px;
  margin-top: -7%;
}

.App-intro {
  font-size: large;
}
.App-asmt {
  min-height: 60%;
  min-width: 49%;
  max-height: 60%;
  max-width: 49%;
  margin-top: -3.5%;
  background: rgba(255, 255, 255, 0.7);
  position: static;
  font-family: sans-serif;
  border-radius: 5px;
}
.App-asmt .App-window {
  border-bottom-right-radius: 5px;
  background: rgba(204, 204, 204, 0.1);
  min-height: 60% !important;
  float: none;
}
.App-tpc {
  min-height: 240px;
  width: 49.5%;
  background: rgba(255,255,255,0.7);
  margin-top: -301px;
  margin-left: 50.5%;
  font-family: sans-serif;
  border-radius: 5px;
}
.App-tpc .App-window{
  border-bottom-right-radius: 5px;
  background: rgba(204, 204, 204, 0.1);
  max-height: 240px !important;
  float: none;
}
.App-bltn {
  width: 100%;
  max-height: 90.6px;
  min-height: 90.6px;
  margin-top: -11px;
  border-radius: 5px;
  text-align: left;
  background: rgba(255, 255, 255, 0.7);
}
.App-bltn .App-window {
  overflow: auto;
}
.App-window {
 min-height: 100%;
 min-width: 100%;
 max-width: inherit;
 max-height: 240px;
 background: rgba(204, 204, 204, 0.1);
 border-radius: 5px;
 overflow: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

